<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Faculties")">Факультеты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Specialties")">Специальности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Group")">Группы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Students")">Студенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "FirstRequest")">Первый запрос</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "SecondRequest")">Второй запрос</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Oleg Romanovich</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>