@model WebApplication7.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FatherSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group_2.Specialty_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_2.Specialty_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecordBook }) |
    @Html.ActionLink("Back to List", "Index")
</p>
